In [1]:
import sqlite3
import csv
import pandas as pd

In [2]:
%load_ext sql

In [33]:
con_cs = sqlite3.connect("censusdata.db")
cur_cs = con_cs.cursor()
%sql sqlite:///censusdata.db

In [34]:
df_cs = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01.csv')
df_cs.to_sql("CENSUS_DATA", con_cs, if_exists='replace', index=False,method="multi")

In [24]:
con_chs = sqlite3.connect("chicagopublicschool.db")
cur_chs = con_chs.cursor()
%sql sqlite:///chicagopublicschool.db

In [25]:
df_chps = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01.csv')
df_chps.to_sql("CHICAGO_PUBLIC_SCHOOLS", con_chs, if_exists='replace', index=False,method="multi")

In [30]:
con_chc = sqlite3.connect("chicagocrimedata.db")
cur_chc = con_chc.cursor()
%sql sqlite:///chicagocrimedata.db

In [31]:
df_chcd = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01.csv')
df_chcd.to_sql("CHICAGO_CRIME_DATA", con_chc, if_exists='replace', index=False,method="multi")

In [36]:
con_cschc = sqlite3.connect("census_chicagocrime.db")
cur_cschc = con_cschc.cursor()
%sql sqlite:///census_chicagocrime.db

In [37]:
df_cschc = pd.merge(df_cs, df_chcd)
df_cschc.to_sql("CENSUS_CHICAGOCRIME", con_cschc , if_exists='replace', index=False)

In [14]:
%sql select count(*) from CHICAGO_CRIME_DATA

   sqlite:///censusdata.db
 * sqlite:///chicagocrimedata.db
   sqlite:///chicagopublicschool.db
Done.

[(533,)]

In [18]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where PER_CAPITA_INCOME < 11000.0

 * sqlite:///censusdata.db
   sqlite:///chicagocrimedata.db
   sqlite:///chicagopublicschool.db
Done.

[('West Garfield Park',),
 ('South Lawndale',),
 ('Fuller Park',),
 ('Riverdale',)]

In [21]:
%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where DESCRIPTION like '%MINOR%'

   sqlite:///censusdata.db
 * sqlite:///chicagocrimedata.db
   sqlite:///chicagopublicschool.db
Done.

[('HL266884',), ('HK238408',)]

In [22]:
%sql select * from CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'KIDNAPPING' and DESCRIPTION like '%CHILD%'

   sqlite:///censusdata.db
 * sqlite:///chicagocrimedata.db
   sqlite:///chicagopublicschool.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

In [23]:
%sql select * from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION like '%SCHOOL%'

   sqlite:///censusdata.db
 * sqlite:///chicagocrimedata.db
   sqlite:///chicagopublicschool.db
Done.

[(4006321, 'HL353697', '2005-05-04', '077XX S BURNHAM AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 421, 4, 7.0, 43.0, '08B', 1196066.0, 1854156.0, 2005, 41.75469107, -87.55703869, '(41.754691074, -87.557038686)'),
 (4430638, 'HL725506', '2005-11-09', '048XX N FRANCISCO AVE', '484', 'BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING', 1, 0, 2031, 20, 40.0, 4.0, '08B', 1156348.0, 1932071.0, 2005, 41.96938944, -87.70048881, '(41.96938944, -87.700488807)'),
 (6644618, 'HP716225', '2008-12-04', '030XX S DR MARTIN LUTHER KING JR DR', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', 0, 0, 2112, 1, 2.0, 35.0, '08B', 1179306.0, 1885032.0, 2008, 41.83981621, -87.61751617, '(41.839816207, -87.617516172)'),
 (2341955, 'HH639427', '2002-09-10', '005XX N WALLER AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING', 0, 0, 1512, 15, 29.0, 25.0, '08B', 1138238.0, 1903181.0, 2002, 41.89045993, -87.76778089, '(41.890459933, -87.767780886)'),
 (11110571, 'JA460432', '2017-10-05', '076XX S HOMAN AVE', '460', 'BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 835, 8, 18.0, 70.0, '08B', 1155024.0, 1853614.0, 2017, 41.75412154, -87.70746025, '(41.754121535, -87.707460248)'),
 (7399281, 'HS200939', '2010-03-10', '053XX W CONGRESS PKWY', '1320', 'CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 1522, 15, 29.0, 25.0, '14', 1140822.0, 1897164.0, 2010, 41.8739014, -87.7584391, '(41.873901397, -87.758439102)'),
 (3530721, 'HK577020', '2004-08-23', '016XX W JONQUIL TER', '2024', 'NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS', 1, 0, 2422, 24, 49.0, 1.0, '18', 1163893.0, 1951001.0, 2004, 42.0211776, -87.67220843, '(42.021177601, -87.67220843)'),
 (7502426, 'HS305355', '2010-05-13', '035XX S WASHTENAW AVE', '1821', 'NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING', 1, 0, 913, 9, 12.0, 58.0, '18', 1158944.0, 1880896.0, 2010, 41.82890791, -87.69234919, '(41.828907913, -87.692349187)'),
 (8082600, 'HT315369', '2011-05-26', '032XX W ADAMS ST', '545', 'ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS', 0, 0, 1124, 11, 28.0, 27.0, '08A', 1154752.0, 1898890.0, 2011, 41.87837031, -87.70724814, '(41.878370307, -87.707248137)'),
 (7174283, 'HR585012', '2009-10-13', '043XX W 79TH ST', '1330', 'CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS', 1, 0, 834, 8, 13.0, 70.0, '26', 1148764.0, 1851854.0, 2009, 41.74941446, -87.7304466, '(41.749414464, -87.730446597)'),
 (2075734, 'HH292682', '2002-04-05', '016XX W BRYN MAWR AV', '2850', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING', 0, 0, 2012, 20, None, None, '26', None, None, 2002, None, None, None),
 (1806896, 'G635735', '2001-10-22', '0000X N HERMITAGE AV', '2850', 'PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING', 1, 0, 1333, 12, None, None, '26', 1164687.0, 1900646.0, 2001, 41.88298425, -87.67071922, '(41.882984246, -87.670719218)')]

In [26]:
%sql select "Elementary, Middle, or High School" , avg(SAFETY_SCORE) as Avg_SAFETY_SCORE from CHICAGO_PUBLIC_SCHOOLS group by "Elementary, Middle, or High School"

   sqlite:///censusdata.db
   sqlite:///chicagocrimedata.db
 * sqlite:///chicagopublicschool.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

In [29]:
%sql select COMMUNITY_AREA_NAME , PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

 * sqlite:///censusdata.db
   sqlite:///chicagocrimedata.db
   sqlite:///chicagopublicschool.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

In [32]:
%sql select COMMUNITY_AREA_NUMBER , count(COMMUNITY_AREA_NUMBER) as FREQUENCY from CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) desc limit 1

   sqlite:///censusdata.db
 * sqlite:///chicagocrimedata.db
   sqlite:///chicagopublicschool.db
Done.

[(25.0, 43)]

In [35]:
%sql select COMMUNITY_AREA_NAME , HARDSHIP_INDEX from CENSUS_DATA where HARDSHIP_INDEX = (select max(HARDSHIP_INDEX) from CENSUS_DATA)

 * sqlite:///censusdata.db
   sqlite:///chicagocrimedata.db
   sqlite:///chicagopublicschool.db
Done.

[('Riverdale', 98.0)]

In [38]:
%sql select COMMUNITY_AREA_NAME , COMMUNITY_AREA_NUMBER from CENSUS_CHICAGOCRIME where COMMUNITY_AREA_NUMBER = (select COMMUNITY_AREA_NUMBER from CENSUS_CHICAGOCRIME group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) desc limit 1) limit 1

 * sqlite:///census_chicagocrime.db
   sqlite:///censusdata.db
   sqlite:///chicagocrimedata.db
   sqlite:///chicagopublicschool.db
Done.

[('Austin', 25.0)]